/*Estilo del header*/

.header-1 {
  color: white;
  background-color: black;
  height: 30px;
}
.header-left {
  position: relative;
  left: 10px;
  top: 2px;
}
.headerL {
  width: 200px;
  height: 25px;
}
.header-right {
  position: relative;
  right: 10px;
  top: 2px;
}
.headerR {
  width: 200px;
  height: 25px;
}

.div2 {
  display: flex;
  justify-content: space-around;
  background-color: #f0a83e;
}
.div3 {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/*Fin de estilo del headr*/

.imgbowl {
  background-image: url("../img/bowl.jpg");
  height: 400px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
body {
  width: 80%;
  margin: 0 auto;
}
.opciones1 {
  justify-content: end;
}
